@font-face {
    font-family:'general' ;
    src: url('../fonts/general.ttf');
}

*{
    margin:0px;
    font-family:general;
}
main{
    width: 60%;
    margin:auto;
}
main h1{
    text-align: center;
}
form{
    margin-top: 30px;
    margin-bottom: 30px;
}
form label{
    letter-spacing: 1px;
}
.inputs{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 10px;
}
.inputs input{
    padding: 6px;
    border: 1px solid rgb(79, 167, 230);
    border-radius: 5px;
    outline: none;
}

.inputs input:focus{
    box-shadow: 0px 0px 3px 1px rgb(79, 167, 230);
}

#contain-gastos{
    min-height: 500px;
}

.list{
    padding: 0;
}
.list__item{
    padding: 10px;
    margin: 10px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.list__item span{
    text-align: left;
    flex-basis: 30%;
    padding-left: 10px;
}
.list__item .eliminar{
    flex-basis: 5%;

}
.list__item .editar{
    flex-basis: 5%;
    margin-right: 2px;
    color: white;
}

.saldo{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(23,120,55);
    color: white;
    margin: 20px 0px;
}
.form-check{
    padding: 0px;
    margin: 20px 0;
}
.form-check input{
}
.form-check #gasto{
    margin-left: 10px;
}

.form-check label{
    cursor: pointer;
    background-color: gray;
}
.form-check label[for='ingreso']:hover{
    background-color: RGB(32,148,94) !important;
}
.form-check label[for='gasto']:hover{
    background-color: RGB(224,74,88) !important;
}

.btn-reset{

}
